
@import  "../../00-tokens/colours/_index.scss";
@import  "../../00-tokens/fonts/_index.scss";
@import  "../../00-tokens/dimensions/_index.scss";

.container {
	max-width: $breakpoint-4;
	margin: 0 auto;
	padding: 0;
	position: relative;
}