
/*-- #BREAKPOINTS ---------------------*/

$breakpoint-1: 320px;// ~ x-small
$breakpoint-2: 414px;// ~ small
$breakpoint-3: 768px;// ~ medium
$breakpoint-4: 1024px;// ~ large
$breakpoint-5: 1200px;// ~ x-large

$maximum-page-width: $breakpoint-5;

/*-- #SPACING ---------------------*/

$spacing-full: 15px;
$spacing-half: 7px;
$spacing-quarter:3px;
$spacing-eighth: 1px;
$spacing-double: 30px;
$spacing-triple: 45px;
$spacing-quadruple: 120px;


/*-- #DIMENSION ---------------------*/

$dimension-full: 34px;
$dimension-half: 17px;
$dimension-quarter: 8px;
$dimension-eighth: 4px;
$dimension-sixteenth: 2px;
$dimension-double: 68px;
$dimension-triple: 102px;
$dimension-quadruple: 272px;
