
@import  "../../00-tokens/colours/_index.scss";
@import  "../../00-tokens/fonts/_index.scss";
@import  "../../00-tokens/dimensions/_index.scss";

.t3 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-family: $font-family-regular;
}